In [1]:
import sys
sys.path.append("Week 12/Practical-Lab")

In [2]:
import pandas as pd

from sklearn.cluster import KMeans
from sklearn import metrics
from sklearn.preprocessing import StandardScaler


import util

In [3]:
util.set_default_pandas_options()

In [4]:
# Update the file path to the correct location of Forbes2000.csv
df = pd.read_csv('Week 12/Practical-Lab/data/Forbes2000.csv', encoding='latin1', nrows=5)
df.head()

   Unnamed: 0  rank                 name         country              category   sales  profits   assets  marketvalue
0           1     1            Citigroup   United States               Banking   94.71    17.85  1264.03       255.30
1           2     2     General Electric   United States         Conglomerates  134.19    15.59   626.93       328.54
2           3     3  American Intl Group   United States             Insurance   76.66     6.46   647.66       194.87
3           4     4           ExxonMobil   United States  Oil & gas operations  222.88    20.96   166.99       277.02
4           5     5                   BP  United Kingdom  Oil & gas operations  232.57    10.27   177.57       173.54

In [5]:
print(df.columns)

Index(['Unnamed: 0', 'rank', 'name', 'country', 'category', 'sales', 'profits', 'assets', 'marketvalue'], dtype='object')

In [6]:
df.head()
df.drop(columns=['rank', 'name'], inplace=True)
print(df.columns)

Index(['Unnamed: 0', 'country', 'category', 'sales', 'profits', 'assets', 'marketvalue'], dtype='object')

In [7]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [8]:
df.drop(columns=['country', 'category'], inplace=True)

In [9]:
print(df.columns)
df_original = df

Index(['sales', 'profits', 'assets', 'marketvalue'], dtype='object')

In [10]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(df)

In [17]:
X = df.values

# Scale the features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# KMeans clustering
kmeans = KMeans(n_clusters=3, random_state=0)
kmeans.fit(X_scaled)

# Create a DataFrame with scaled values and cluster labels
df_scaled = pd.DataFrame(X_scaled, columns=df.columns)
df_scaled['cluster'] = kmeans.labels_

# Print the result
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(df_scaled)

      sales   profits    assets  marketvalue  cluster
0 -0.891574  0.694102  1.710859     0.168431        2
1 -0.279326  0.261246  0.125177     1.474365        2
2 -1.171489 -1.487416  0.176772    -0.909090        0
3  1.096060  1.289758 -1.019570     0.555718        1
4  1.246330 -0.757689 -0.993238    -1.289423        1

In [16]:
print('Silhouette Score = {}'.format(metrics.silhouette_score(X, kmeans.labels_)))

Silhouette Score = 0.15513408083456456