In [1]:
import numpy as np
import pandas as pd

data = {'color': ['blue','green','yellow','red','white'],
        'object': ['ball','pen','pencil','paper','mug'],
        'price':[1.2,1.0,0.6,0.9,1.7]}

frame = pd.DataFrame(data)
frame

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

In [2]:
print(frame.columns)

Index(['color', 'object', 'price'], dtype='object')

In [3]:
print(frame.index)

RangeIndex(start=0, stop=5, step=1)

In [4]:
print(frame.values)

[['blue' 'ball' 1.2]
 ['green' 'pen' 1.0]
 ['yellow' 'pencil' 0.6]
 ['red' 'paper' 0.9]
 ['white' 'mug' 1.7]]

In [5]:
print(frame['price'])

0    1.2
1    1.0
2    0.6
3    0.9
4    1.7
Name: price, dtype: float64

In [6]:
print(frame.price)

0    1.2
1    1.0
2    0.6
3    0.9
4    1.7
Name: price, dtype: float64

In [7]:
print(frame.iloc[0])

color     blue
object    ball
price      1.2
Name: 0, dtype: object

In [8]:
print(frame.iloc[0]['price'])

1.2

In [9]:
print(frame.iloc[0].price)

1.2

In [10]:
lframe = pd.DataFrame(data, index=['a','b','c','d','e'])
print(lframe.index)

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [11]:
lframe

    color  object  price
a    blue    ball    1.2
b   green     pen    1.0
c  yellow  pencil    0.6
d     red   paper    0.9
e   white     mug    1.7

In [12]:
print(lframe.loc['a'])

color     blue
object    ball
price      1.2
Name: a, dtype: object

In [13]:
print(lframe.loc['a']['price'])

1.2

In [14]:
print(lframe.loc['a'].price)

1.2