In [1]:
# a
import pandas as pd

# Set pandas to display all rows in a dataframe. In our dataset, we have 943 rows
# pd.set_option('display.max_rows', 1000)

In [2]:
# b
# setting user_id as the row index
df = pd.read_csv('w10/Week10/Practical Lab/data/occupation.csv', index_col=0)

In [3]:
# c
print(df.head(25))

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107

In [4]:
# d
print(df.tail(10))

         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

In [5]:
# e
print('Number of observations in the dataset is', len(df))

Number of observations in the dataset is 943

In [6]:
# Alternative approach using size/length of the index
print('Number of observations in the dataset is', df.index.size)

Number of observations in the dataset is 943

In [7]:
# Alternative approach using shape
print('Number of observations in the dataset is', df.shape[0])

Number of observations in the dataset is 943

In [8]:
# f
print('Number of columns in the dataset is', df.columns.size)

Number of columns in the dataset is 4

In [9]:
# Alternative approach using shape
print('Number of columns in the dataset is', df.shape[1])

Number of columns in the dataset is 4

In [10]:
# g
print(df.columns)

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [11]:
# Alternative manual approach using a for loop
for colname in df.columns:
    print(colname)

age
gender
occupation
zip_code

In [12]:
# h
# The dataset is indexed based on the user_id column in the dataset
# Note that the default row index would be a zero-based number whereas user_id starts from 1
print(df.index)

Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
       ...
       934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
      dtype='int64', name='user_id', length=943)

In [14]:
# i
# Note that string is reported as object here
print(df.dtypes)

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

In [15]:
# j
print(df.occupation)

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

In [16]:
# Alternative
print(df['occupation'])

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

In [17]:
# k
print(df['occupation'].describe())

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

In [18]:
print('Number of unique occupations is ', df['occupation'].nunique())

Number of unique occupations is  21

In [19]:
print('Unique occupations are ', df['occupation'].unique())

Unique occupations are  ['technician' 'other' 'writer' 'executive' 'administrator' 'student'
 'lawyer' 'educator' 'scientist' 'entertainment' 'programmer' 'librarian'
 'homemaker' 'artist' 'engineer' 'marketing' 'none' 'healthcare' 'retired'
 'salesman' 'doctor']

In [20]:
# l
# 125 users aged 50 and above
print(df[df.age >= 50])

         age gender     occupation zip_code
user_id
2         53      F          other    94043
7         57      M  administrator    91344
10        53      M         lawyer    90703
47        53      M      marketing    07102
60        50      M     healthcare    06472
...      ...    ...            ...      ...
912       51      M          other    06512
915       50      M  entertainment    60614
931       60      M       educator    33556
932       58      M       educator    06437
934       61      M       engineer    22902

[125 rows x 4 columns]

In [21]:
print('There are {} users aged 50 and above'.format(len(df[df.age >= 50])))

There are 125 users aged 50 and above

In [22]:
# m
print(df.describe())

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

In [23]:
# n
# By default, only the numeric columns are returned. Since we have non-numeric columns, we need to set include to 'all'
print(df.describe(include = 'all'))

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

In [24]:
# o
print(df.occupation.describe())

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

In [25]:
# Alternative
print(df['occupation'].describe())

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

In [26]:
# p
print('Mean age of users is', df.age.mean())

Mean age of users is 34.05196182396607

In [27]:
# q
# There are more than one age value with only 1 observation each
print(df.age.value_counts().tail())

age
7     1
66    1
11    1
10    1
73    1
Name: count, dtype: int64

In [28]:
# r
df['salary'] = 0
print(df)

         age gender     occupation zip_code  salary
user_id
1         24      M     technician    85711       0
2         53      F          other    94043       0
3         23      M         writer    32067       0
4         24      M     technician    43537       0
5         33      F          other    15213       0
...      ...    ...            ...      ...     ...
939       26      F        student    33319       0
940       32      M  administrator    02215       0
941       20      M        student    97229       0
942       48      F      librarian    78209       0
943       22      M        student    77841       0

[943 rows x 5 columns]

In [29]:
# s
df['salary'] = df['age'] * 100
print(df)

         age gender     occupation zip_code  salary
user_id
1         24      M     technician    85711    2400
2         53      F          other    94043    5300
3         23      M         writer    32067    2300
4         24      M     technician    43537    2400
5         33      F          other    15213    3300
...      ...    ...            ...      ...     ...
939       26      F        student    33319    2600
940       32      M  administrator    02215    3200
941       20      M        student    97229    2000
942       48      F      librarian    78209    4800
943       22      M        student    77841    2200

[943 rows x 5 columns]

In [30]:
# Alternative manual approach using a for loop
for i in range(1, len(df) + 1):
    df.loc[i,'salary'] = df.loc[i]['age'] * 100

print(df)

         age gender     occupation zip_code  salary
user_id
1         24      M     technician    85711    2400
2         53      F          other    94043    5300
3         23      M         writer    32067    2300
4         24      M     technician    43537    2400
5         33      F          other    15213    3300
...      ...    ...            ...      ...     ...
939       26      F        student    33319    2600
940       32      M  administrator    02215    3200
941       20      M        student    97229    2000
942       48      F      librarian    78209    4800
943       22      M        student    77841    2200

[943 rows x 5 columns]